:host {
  all: initial;
  position: fixed;
  top: 2em;
  right: 1.5em;
  z-index: 2147483647;
}

.notifications {
  position: fixed;
  top: 0;
  right: 0;
}

.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.notifications .toast {
  position: relative;
  overflow: hidden;
  list-style: none;
  background-color: rgba(23, 23, 23, 0.8);
  color: white;
  border: 0.2em solid;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  height: 1.4em;
  line-height: 1.4em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 0.5em;
  justify-content: space-between;
  transition: all ease-in-out 0.2s;
  animation: show_toast 0.3s ease forwards;
}
.notifications .toast.error {
  border-color: #ff3b3b;
}
.notifications .toast.success {
  border-color: #4fa825;
}

.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1em;
    margin-left: 20px;
  }
  .buttons .btn {
    margin: 0 1px;
    font-size: 1.1em;
    padding: 8px 15px;
  }
}