[submodule "GameSentenceMiner/owocr"]
	path = GameSentenceMiner/owocr
	url = https://github.com/bpwhelan/owocr.git
	branch = master
[submodule "GSM_Overlay"]
	path = GSM_Overlay
	url = https://github.com/bpwhelan/GSM_Overlay
	branch = master
