
*.wav
__pycache__/config.cpython-311.pyc
.idea/vcs.xml
anki_script.log
.idea/vcs.xml
*.webp
*.opus
/__pycache__
/vosk_model_cache
config.toml
tmp*
/backup
version.txt
test.py
steam_app_list.db
steam_app_list.json
/.idea
config.json
*.log
/build
/dist
*.spec
/hooks/__pycache__
gamesentenceminer.log.2
gamesentenceminer.log.1
.vscode/launch.json
.idea/misc.xml
runGSM.bat
runYuzuLauncher.bat
config_back.json
launchers/steam_games.py
