[build-system]
requires = [
  "setuptools>=61.0",  # PEP 621 support in setuptools
  "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "GameSentenceMiner"
version = "2.16.4"
description = "A tool for mining sentences from games. Update: Overlay?"
readme = "README.md"
requires-python = ">=3.10"
license = { text = "MIT License" }
authors = [
  { name = "Beangate", email = "bpwhelan95@gmail.com"}
]
urls = { Homepage = "https://github.com/bpwhelan/GameSentenceMiner", Repository = "https://github.com/bpwhelan/GameSentenceMiner" }
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent"
]
dependencies = [
  "requests~=2.32.3",
  "watchdog~=5.0.2",
  "DateTime~=5.5",
  "pyperclip~=1.9.0",
  "soundfile~=0.12.1",
  "toml~=0.10.2",
  "psutil~=6.0.0",
  "rapidfuzz~=3.9.7",
  "plyer~=2.1.0",
  "keyboard~=0.13.5",
  "websockets~=15.0.1",
  "openai-whisper==20240930; sys_platform == 'win32'",
  "openai-whisper; sys_platform != 'win32'",
  "stable-ts-whisperless",
  "silero-vad~=5.1.2",
  "ttkbootstrap~=1.10.1",
  "dataclasses_json~=0.6.7",
  "win10toast; sys_platform == 'win32'",
  "pystray",
  "pywin32; sys_platform == 'win32'",
  "pygetwindow; sys_platform == 'win32'",
  "flask",
  "groq",
  "matplotlib",
  "sounddevice",
  "google-genai",
  "owocr",
  "oneocr",
  "openai",
  "scikit-image",
  "opencv-python",
  "betterproto==2.0.0b7",
  "obsws-python~=1.7.2",
  "numpy==2.2.6",
  "regex",
  "faster-whisper~=1.2.0"
]

# This creates a command-line script named `gamesentenceminer` that will
# call the `main()` function defined in the package’s __main__.py (or wherever
# you’ve placed your entry function). Adjust the import path as needed.
[project.scripts]
gamesentenceminer = "GameSentenceMiner.gsm:main"

[tool.setuptools]
packages = { find = { include = ["GameSentenceMiner*"] } }

[tool.setuptools.package-data]
"GameSentenceMiner.web" = ["static/*", "static/css/*", "static/js/*", "templates/*", "templates/components/*"]
"GameSentenceMiner" = ["assets/*", "locales/*"]
