<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../css/widget.css" />
  <script src="../js/widget.js"></script>
</head>
<body>
<div class="profile-row">
  <span>Profile</span>
  <profile-selector></profile-selector>
</div>
<div class="pages">
  <a class="outline hide" id="not-parsable">Open a japanese website...</a>
</div>
<div class="toggle-row">
  <span>Parsing</span>
  <a id="pause-toggle" class="outline">Enabled</a>
</div>
<div class="links">
  <a id="changelog">Changelog</a>
  <a id="github" href="https://github.com/Sirush/JitenReader/issues" target="_blank">GitHub</a>
  <a id="donate" href="https://jiten.moe/donate" target="_blank" style="font-weight: bold">Donate</a>

  <div class="spacer"></div>

  <a id="settings">Settings</a>
</div>
</body>
</html>
