name: Build Electron App for Development Release

on:
  pull_request:
    branches:
        - main
        - develop
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - uses: actions/setup-node@v4
        with:
          node-version: 21

      - name: Convert Handlebar files to LF
        run: |
          Get-ChildItem -Path ./GSM_Overlay/yomitan/data/templates -Recurse -Include *.handlebars | ForEach-Object {
            $c = (Get-Content $_.FullName -Raw) -replace "`r`n", "`n"
            Set-Content $_.FullName $c -NoNewline
          }

      - name: Build Overlay
        working-directory: GSM_Overlay
        run: |
          npm install
          npm run package

      - name: Install dependencies
        run: npm install

      - name: Build Electron app (Windows)
        run: npm run app:dist

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-unpacked
          path: dist/win-unpacked/

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - uses: actions/setup-node@v4
        with:
          node-version: 21

      - name: Build Overlay
        working-directory: GSM_Overlay
        run: |
          npm install
          npm run package

      - name: Install dependencies
        run: |
          npm install
          npm install --save-dev electron electron-builder

      - name: Build Electron app (Linux)
        run: npm run app:dist

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-unpacked
          path: dist/linux-unpacked/

  build-mac:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - uses: actions/setup-node@v4
        with:
          node-version: 21

      - name: Build Overlay
        working-directory: GSM_Overlay
        run: |
          npm install
          npm run package

      - name: Install dependencies
        run: |
          npm install
          npm install --save-dev electron electron-builder

      - name: Build Electron app (macOS)
        run: npm run app:dist

      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-unpacked
          path: dist/mac/
